*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;/*para que se aga un cuadro*/
}
#container{
width: 100vw;
height: 100vh;
background: aqua;
display: flex;
justify-content: center;
justify-content: space-between;
align-items: flex;

}
#container2{
    width: 100vw;
    height: 100vh;
    background: aqua;
    display: flex;
    justify-content: end;
  
    align-items: flex-end;
    
    }
    #container3{
        width: 100vw;
        height: 100vh;
        background: aqua;
        display: flex;
        justify-content: end;
       
        align-items: flex-end;
        
        }
.cubo{
   
    width: 100px;
    height: 100px;
    background-color: brown;
    padding: 20px;
    line-height: 60px;/*para hacer que se mueva hacia la linea*/
    font-size: 60px;

}
.cubo:nth-last-child(1){
    display: flex;
   
justify-content: center;
}


